<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Words" version="20.2.0" targetFramework="net452" />
  <package id="cef.redist.x64" version="79.1.35" targetFramework="net452" />
  <package id="cef.redist.x86" version="79.1.35" targetFramework="net452" />
  <package id="DocX" version="1.5.0" targetFramework="net452" />
  <package id="Google.Apis" version="1.43.0" targetFramework="net452" />
  <package id="Google.Apis.Auth" version="1.43.0" targetFramework="net452" />
  <package id="Google.Apis.Core" version="1.43.0" targetFramework="net452" />
  <package id="Google.Apis.Sheets.v4" version="1.43.0.1867" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.Outlook" version="15.0.4797.1003" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net452" />
</packages>